* {
	outline: 1px dotted black;
}

body {
	background: gray;
}

canvas {
	position: fixed;
}

.container {
	display: inline-block;
	width: 200px;
	height: 200px;
}

.rect {
	display: inline-block;
	float: left;
	width: 100px;
	height: 100px;
}